*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
    height: 80px;
    width: 100%;
    background-color: #F29325;
}

.textoBarra{
    color: #fff;
    margin-right: 10px;
}

.logo img{
    width: 60px;
}

.barra-items a{
    margin-left: 30px;
}


.content{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    display: flex;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.left-side h1{
    font-size: 50px;
    color: #00C0AF;
}

.left-side p, span{
    color: white;
    margin-bottom: 60px;
}

.left-side span{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.left-side a{
    text-decoration: none;
    color: #fff;
    background-color: #00C0AF;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
}

.right-side{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side image{
    background-color: #fff;
}

.barra-items a img{
    width: 30px;
}

.barra-items a .vrumm{
    width: 40px;
}

.barra-items a .troca{
    width: 35px;
    
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    width: 46rem;
    height: 2rem;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid gray;
    background-color: #ffffff;
}