#devolucao {
    position: absolute;
    width: 85%;
    height: 60%;
    right: 7,5%;
    left: 7.5%;
    top: 300px;
    padding: 50px;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .borda_alerta{
    border: 1px solid black;
    display: block;
    position: relative; top: 30%; left: 1%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 40px;

}

.borda_alerta img{
    position: relative; top: 5%; left: 5%;
    width: 100%;
    height: 85%;
}

.borda_alerta p{
    margin-left: 20%;
}

.EnviarFotos, #botaoEnviar{
    margin-top: 20px;
}