#devolucao {
    position: absolute;
    width: 85%;
    height: 60%;
    right: 7,5%;
    left: 7.5%;
    top: 30%;
    padding: 50px;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .borda_alerta{
    border: 1px solid black;
    display: block;
    position: relative; top: 35%; left: 1%;
    margin-right: 90px;
    margin-left: 70px;
    border-radius: 10px;
    padding: 30px 0;
    

}

.borda_alerta img{
    position: relative; top: 5%; 
    margin-left: 10%;
    width: 100%;
    height: 50%;
}

.borda_alerta li{
    margin-left: 30%;
}

.EnviarFotos, #botaoEnviar{
    margin-top: 20px;
}