@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.text-whitee{
    text-decoration: none;
    color: #F29325;
    font-family: 'Abel', sans-serif;
}

.footer{
    padding: 16px;
}