*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

.produtos {
    margin: 30px 0;
  }
  .produtos .produtos-container {
    margin: 30px 0;
    color: #343A40;
  }
  .produtos .produtos-container:hover {
    color: initial;
  }
  .produtos .produtos-container .produtos-itens h2 {
    font-size: 19px;
    margin: 10px 0 0;
  }
  .produtos .produtos-container .produtos-itens .produtos-stars svg {
    fill: #FFC107;
    width: 13px;
    height: 12px;
  }
  .produtos .produtos-container .produtos-itens .produtos-precos {
    font-size: 16px;
  }

