@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

.titulopg {
    position: absolute;
    font-family: 'Cinzel', serif;
    width: 40%;
    left: 30%;
    top: 30%;
    font-weight: 400;
    font-size: 300%;
    line-height: 50%;
    text-align: center;
    color: #000000;
  }