@media (min-width: 1024px) /*and (max-width: 1780px)*/{

  * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
  .PesquisaBarra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.7rem;
    font-size: 16px;
    width: 25rem;
    height: 2rem;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid gray;
    background-color: #ffffff;
  }
  
  #fixo {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 2;
    TOP: 0;
  }

  #imagemBarra{
    top: 15%;
    position: absolute;
    width: 4%;
    bottom: 15%;
    left: 1%;
    z-index: 100;
  }

  #bemTextoMesmo

  .navbar-nav{
    font-size: 0.9rem;

  }

  .align-self-end{
    position: relative;
  }
  
  .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-top: 1%;
    background-color: white;
    opacity: 99%;
  
  }
  
  .menu ul {
    display: flex;
    width: 100%;
    padding: .5% 5% 0 5%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 99%; 
  }
  
  .menu li {
    margin: 0 5% 0 5%;
    padding: 1px;
    font-size: 17px;
  }
  
  .menu a {
    color: rgb(3, 5, 7);
    text-decoration: none;
  }
  
  #boxEntrar {
    width: 90%;
    height: 78%;
    margin-left: 20%;
    top: 40%;
    padding: 5%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  #boxCadastro {
    
    width: 90%;
    height: 87%;
    
    padding: 5%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  hr{
    text-align: center;
  }
  .pai{
    margin-top: 15%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
  }
  #botaoCadastro{
    width: 100%;
    
  }

  .h1Cadastro{
    font-size: 150%;
    margin-bottom: 10%;
  }
  
  #devolucao {
    position: absolute;
    width: 85%;
    height: 415px;
    right: 7,5%;
    left: 7.5%;
    top: 287px;
    padding: 20px;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .container{
    max-width: 500px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  
  
  #imagemAlerta{
    position: absolute;
    width: 5%;
    bottom: 20px;
    left: 10%;
  }
  
  #botaoEnviar{
    position: absolute;
    right: 50%;
    padding: 1% 3% 1% 3%;

   
  }
  #UserPerfil{
    
    border-radius: 100%;
    
  }
  
  .Perfil{
  text-align: center;
  position: absolute;
  width: 30%;
  height: 100%;
  left: 35%;
  top: 30%;
  
  font-size: 18px;
  }
  
  .personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
  }
  
  #nome{
  position: relative;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;

  }

  #dados{
  margin-top: 2%;  
  position: absolute;
  width: 30%;
  height: 100%;
  left: 35%;
  top: 55%;
  font-size: 16px;
  }
  
  #info{
  background-color: #bbbbbb62;
  border-radius: 12px;
  
  margin: 3%;
  border-radius: 12px;
  padding: 1%;
  border: 0.5px gray;
  }
  
  .access-button{
    width: 35%!important;
    border-radius: 50px!important;
  }
  


  .EnviarFotos{
    position: absolute;
    margin: auto 5%;
    font-size: 15px;
    width: 20%;
    height: 50%;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  }
  #exampleFormControlInput1{
    position: absolute;
    width: 50%;
    height: 8%;
    top: 3.5%;
    left: 6%;
    position: static;
  }
  .form-controlArquivo{
    position: absolute;
    position: relative;
    top: 2%;
    left: 0;
    width: 190%;
    height: 25%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  
  }
  
  .EnviarFotos{
    margin: auto 5%;
    font-size: 15px;
    width: 50%;
    height: 50%;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  }
  
}

/*
                                @media (min-width: 1336px) and (max-width: 1440px)
{
  * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
  .PesquisaBarra {
    margin-bottom: 5.3%;
    margin-top: 5%;
    position: absolute;
    font-size: 15px;
    width: 35%;
    left: 20%;
    height: 50%;
    border-radius: 12px;
    padding: 2.5vh;
    border: 0.5px solid gray;
  }
  
  #fixo {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 2;
    TOP: 0;
  }
  .textoBarra{
    top: 15%;
    position: absolute;
    display: flex;
    left: 7%;
  }

  #imagemBarra{
    top: 10%;
    position: absolute;
    width: 4.9%;
    bottom: 15%;
    left: 2%;
    z-index: 100;
  }
  
  .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    position: fixed;
    z-index: 2;
    padding-top: .4%;
    background-color: white;
    opacity: 99%;
  
  }
  
  .menu ul {
    display: flex;
    width: 100%;
    padding: .5% 5% 0 5%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 99%; 
  }
  
  .menu li {
    margin: 0 5% 0 5%;
    padding: 1px;
    font-size: 16px;
  }
  
  .menu a {
    color: rgb(3, 5, 7);
    text-decoration: none;
  }
  
  .dadosCadastro{
    position: absolute, relative;
  }

  #boxEntrar {
    width: 90%;
    height: 78%;
    margin-left: 20%;
    top: 40%;
    padding: 5%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  #boxCadastro {
    
    width: 90%;
    height: 87%;
    
    padding: 5%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  hr{
    text-align: center;
  }
  .pai{
    margin-top: 15%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
  }
  #botaoCadastro{
    width: 100%;
    
  }

  .h1Cadastro{
    font-size: 150%;
    margin-bottom: 10%;
  }
  

  #titulopg {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20%;
    font-weight: 400;
    font-size: 50%;
    line-height: 50%;
    text-align: center;
  
    color: #000000;
  }
  
  #devolucao {
    position: absolute;
    width: 90%;
    height: 415px;
    left: 80px;
    top: 287px;
    padding: 20px;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .container{

    max-width: 500px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 50px 0;
  }
  .footer-col{
     width: 15%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #F29325;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  #imagemAlerta{
    position: absolute;
    width: 5%;
    bottom: 20px;
    left: 10%;
  }
  
  #botaoEnviar{
    position: absolute;
    right: 50%;
    padding: 1% 3% 1% 3%;
  }
  #UserPerfil{
    
    border-radius: 100%;
    
  }
  
  .Perfil{
  text-align: center;
  
  position: absolute;
  width: 30%;
  height: 100%;
  left: 35%;
  top: 30%;
  
  font-size: 18px;
  }
  
  .personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 50%;
    width: 50%;
    height: 50%;
  }
  
  #nome{
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  }
  
  #dados{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  top: 60%;
  font-size: 16px;
  }
  
  #info{
  align-items: center;
  background-color: #bbbbbb62;
  border-radius: 12px;
  
  margin: auto 1%;
  border-radius: 12px;
  padding: 1%;
  border: 0.5px gray;
  }
  
  .access-button{
    width: 35%!important;
    border-radius: 50px!important;
  }
  
  #imagemAnimada:hover{
    padding: 15px;
    transition:padding 0.5s;
  }
  
  .containerSecao{
    display: flex;
    margin: 14%;
    
  }
  
  .EnviarFotos{
    position: absolute;
    margin: auto 5%;
    font-size: 15px;
    width: 20%;
    height: 50%;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  }
  #exampleFormControlInput1{
    position: absolute;
    width: 50%;
    height: 8%;
    top: 3.5%;
    left: 6%;
    position: static;
  }
  .form-controlArquivo{
    position: absolute;
    position: relative;
    top: 2%;
    left: 0;
    width: 190%;
    height: 25%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  
  }
  

  #testoBarra{
    padding-left: 1%;
  }

  
}
/*
                                         @media (min-width: 1024px) and (max-width: 1335px)
{
  * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
  .PesquisaBarra {
    
    margin-top: .1%;
    margin-bottom: 1.7%;
    display: flex;
    justify-content: center;
    align-items: center 0;
    font-size: 10px;
    width: 36%;
    margin-left: 14%;
    border-radius: 12px;
    padding: 1vh;
    border: 0.5px solid gray;
  }
  
  #fixo {
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    z-index: 2;
    TOP: 0;
  }
  .textoBarra{
    top: 8%;
    position: absolute;
    display: flex;
    left: 7%;
  }

  #bemTextoMesmo{
    font-size: 80%;
  }

  #imagemBarra{
    top: 10%;
    position: absolute;
    width: 4.9%;
    bottom: 15%;
    left: 2%;
    z-index: 100;
  }

  .navbar-nav{
    font-size: 90%;

  }

  #carrinhoBarra{
  

  }
  
  .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    position: fixed;
    z-index: 2;
    padding-top: .4%;
    background-color: white;
    opacity: 99%;
  
  }
  
  .menu ul {
    display: flex;
    width: 100%;
    padding: .5% 5% 0 5%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 99%; 
  }
  
  .menu li {
    margin: 0 4.5% 0 5%;
    padding: 1px;
    font-size: 14.4px;
  }
  
  .menu a {
    color: rgb(3, 5, 7);
    text-decoration: none;
  }
  
  .dadosCadastro{
    position: absolute, relative;
  }

  #boxEntrar {
    width: 90%;
    height: 78%;
    margin-left: 20%;
    margin-top: -32%;
    padding: 6%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  #boxCadastro {
    
    width: 90%;
    height: 87%;
    
    padding: 6%;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  hr{
    text-align: center;
  }
  .pai{
    margin-top: 18%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
  }
  #botaoCadastro{
    width: 100%;
    
  }

  .h1Cadastro{
    font-size: 150%;
    margin-bottom: 10%;
  }
  

  #titulopg {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20%;
    font-weight: 400;
    font-size: 50%;
    line-height: 50%;
    text-align: center;
  
    color: #000000;
  }
  
  #devolucao {
    position: absolute;
    width: 90%;
    height: 415px;
    left: 60px;
    top: 287px;
    padding: 20px;
  
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .container{

    max-width: 500px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 50px 0;
  }
  .footer-col{
     width: 15%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #F29325;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  #imagemAlerta{
    position: absolute;
    width: 5%;
    bottom: 20px;
    left: 10%;
  }
  
  #botaoEnviar{
    position: absolute;
    right: 50%;
    padding: 1% 3% 1% 3%;
  }
  #UserPerfil{
    
    border-radius: 100%;
    
  }
  
  .Perfil{
  text-align: center;
  
  position: absolute;
  width: 30%;
  height: 100%;
  left: 35%;
  top: 30%;
  
  font-size: 18px;
  }
  
  .personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .personal-avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 50%;
    width: 50%;
    height: 50%;
  }
  
  #nome{
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  }
  
  #dados{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  top: 60%;
  font-size: 16px;
  }
  
  #info{
  align-items: center;
  background-color: #bbbbbb62;
  border-radius: 12px;
  
  margin: auto 1%;
  border-radius: 12px;
  padding: 1%;
  border: 0.5px gray;
  }
  
  .access-button{
    width: 35%!important;
    border-radius: 50px!important;
  }
  
  #imagemAnimada{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imagemAnimada:hover{
    padding: 15px;
    transition:padding 0.5s;
  }

  .card text-center bg-light{
    
  }
  
  .containerSecao{
    display: flex;
    margin: 14%;
    
  }
  
  .EnviarFotos{
    position: absolute;
    margin: auto 5%;
    font-size: 15px;
    width: 20%;
    height: 50%;
    border-radius: 12px;
    padding: 1%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  }
  #exampleFormControlInput1{
    position: absolute;
    width: 50%;
    height: 8%;
    top: 3.5%;
    left: 6%;
    position: static;
  }
  .form-controlArquivo{
    position: absolute;
    position: relative;
    top: 2%;
    left: 0;
    width: 190%;
    height: 25%;
    border: 0.5px solid rgba(128, 128, 128, 0);
  
  }
  

  #testoBarra{
    padding-left: 1%;
  }

  
}
