*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: 'arial', sans-serif;
    color: #333333;
}

html, body{
    background-color: #F29325;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: larger;
    height: 10px;
    width: 10px;
}

.pai{
    

}

.card-perfile{
    display: block;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
   
}

.card-perfile .row{
    display: block;
    padding: 10px 0;
    text-align: center;
}

.card-perfile .img-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
    border: 3px solid #F29325;
}

.card-perfile .nome{
    display: block;
    font-size: 1.2em;
    color: #F29325;
}

.card-perfile .fab{
    margin: 10px;
    font-size: 1.2em;
    color: #F29325;
    transition-duration: 0.3s;
}

.card-perfile .fab:hover{
    color: #bdbdbd;;
    transition-duration: 0.3s;
}


@media(max-width: 1050px){
    body{
        display: flex;
        flex-direction: column; 
    }

    .card-perfile{
        display: flex;
        flex-direction: column;
        width: 270px;
        margin: 5px;
    }

    .colunona{
        margin-top: -5px;
    }

}

